/* Estilos para la barra de navegación */
.App nav {
  background-color: #007BFF;
  padding: 20px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.menu-title {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
}

.nav-links li a:hover {
  background-color: #ffffff;
  color: black;
}

.nav-links li a.active {
  background-color: #ffffff;
  color: black;
  font-weight: bold;
}

.hamburgesa {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
}

.user-menu {
  position: relative;
}

.user-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
}

.dropdown-menu {
  position: absolute;
  top: 100%; 
  left: -130px; 
  background: #333;
  color: white;
  padding: 3px 5px; 
  border-radius: 5px;
  list-style: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: none; 
  white-space: nowrap; 
  min-width: 90px; 
  z-index: 1000; 
}

.dropdown-menu li {
  cursor: pointer;
  padding: 3px 8px; 
  text-align: left; 
}

.dropdown-menu li:hover {
  background: none; 
}

.user-menu:hover .dropdown-menu {
  display: block; 
}

.user-menu button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: white;
  padding: 5px 10px; 
}

@media (max-width: 420px) {
  .hamburgesa {
    display: block; 
    margin-left: auto; 
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #007BFF;
    position: absolute;
    top: 60px; 
    left: 0;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .nav-links li a {
    font-size: 18px;
    padding: 8px 16px;
  }
}
